# Ignorer le fichier de configuration contenant les clés secrètes et mots de passe
.env

# Ignorer les dossiers générés par le système d'exploitation
.DS_Store
Thumbs.db

# Si jamais tu utilises Composer plus tard, on ignore souvent le dossier vendor
# vendor/